<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madelon's blog</title>
</head>
<body>

    <div>
        <H1> Hi there! </H1>
        <p>and welcome to the Django Girls Workshop</p>
    </div>

    <div>
        <H2>It works!</H2>
        <p>You need to <strong> follow these rules</strong> of closing tags, and of nesting elements - if you don't, the browser may not be able to interpret them properly and your page will display incorrectly.</p>
    </div>

    <div>
        <H2>Great Job!</H2>
        <p>Now on to the next bit</p>
    </div>

</body>
</html>